*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family: Arial, sans-serif;
}


header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    width: 100%;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav {
    display: flex;
    flex-wrap: wrap;
}

nav a {
    color: white;
    margin: 5px 10px;
    text-decoration: none;
}


.banner {
    background-color: #f2f2f2;
    text-align: center;
    padding: 60px 20px;
}

.banner h1 {
    font-size: 40px;
    padding-top: 80px;
}

.banner p {
    font-size: 18px;
}

.banner button {
    padding: 10px 25px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}


.products {
    text-align: center;
    padding: 40px 20px;
}

.product-box {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;   
}

.product {
    border: 1px solid #ccc;
    padding: 15px;
    width: 220px;
}

.product img {
    width: 100%;
}

/* Footer */
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
}

@media (max-width: 768px) {

    header {
        flex-direction: column;
        text-align: center;
    }

    nav {
        justify-content: center;
    }

    .banner h1 {
        font-size: 28px;
    }

    .banner p {
        font-size: 16px;
    }

    .product {
        width: 90%;
    }
}
a {
    text-decoration: none;
    color: inherit;
}

button {
    padding: 8px 20px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

#logo{
    width: 30px;
    height: 30px;
    display: inline-block;
}